.text-center{
  text-align: center;
  color: white;
}
.text-center:hover{
  color: greenyellow;
}

.bg-red{
  background: red;
}

.mx-auto{
  margin: auto;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
